:root {
  color-scheme: light dark;
  --fill-accent-default: #EFEFEF;
  --fill-accent-hover: #E6E6E6;
  --fill-accent-disabled: #E4E4E4;

  --fill-primary-default: #0F2F25;
  --fill-primary-hover: #0F3429;
  --fill-primary-disabled: #143E31;

  --label-primary: #F7FAFC;
  --label-secondary: #0A2019;
  --label-accent: #FEFBDB;

  --background-primary: #0A2019;
}
