.column-center {
  align-items: flex-start;
}

.heading--title {
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: var(--font-size-40);
  color: var(--label-accent);
  font-family: var(--font-family-body);
}

.nav--item {
  color: var(--label-primary);
  font-size: var(--font-size-28);
  text-decoration: none;
}

.nav--item-arrow {
  font-size: var(--font-size-32);
}

.nav--item-email {
  @extend .nav--item;
  font-style: italic;
  color: var(--label-accent-default);
}


@media screen and (max-width: 768px) {
  .column-center {
    justify-content: space-between;
  }

  .heading--title {
    text-align: justify;
  }

  nav {
    gap: unset;
    width: 100%;
    justify-content: space-between;
  }

  .nav--item {
    text-decoration: underline;
  }

  .nav--item-arrow, .nav--item-email {
    display: none;
  }

}
