main {
  max-width: 50rem;
  margin: auto;
  display: grid;
}

.headline {
  margin-top: auto;
    grid-row: 3fr;
}

footer {
  display: flex;
  grid-row: 2fr;
  justify-content: space-between;
}

.footer-text {
  width: 100%;
  margin-top: auto;
  font-weight: bold;
  text-align: center;
  font-family: var(--font-serif);
}

@media screen and (max-width: 768px) {
  .headline-title {
    font-size: var(--font-size-80);
  } 
}
