{% extends "base.html" %}
{% block head %}
<title>Brasilis Club</title>
<meta name="description" content="Bem-vindo ao Brasilis Club — um coletivo multidisciplinar que celebra a essência da brasilidade com sofisticação e inovação." /> 
<link rel="stylesheet" href="styles/index.css"  /> 
{% endblock head %}

{% block content %}
<main aria-label="Secção de Introdução">
    <section class="headline">
        <h1 class="headline-title">Brasil(is) Club</h1>
    </section>
    <footer>
	<p class="footer-text">Mais informações em breve</p>
    </footer>
</main>
{% endblock content %}
