{% extends "base.html" %}
{% block head %}
<title> Brasilis Club </title>
<meta name="description" content="Brasilis Club is a brazilian research-focused multipurpose collective." /> 
<link rel="stylesheet" href="{{ get_url(path='home.css', trailing_slash=false) | safe }}"  /> 
{% endblock head %}

{% block content %}
<main class="page__container" aria-label="Heading section">
  <section class="content__container">
    <div class="heading__container">
      <h1 class="heading__title"><span>404:</span> Not found</h1>
      <p class="heading__subtitle">
        It was not possible to access the page you are looking for.
        It might be not available anymore. 
        In case your lost, you can access these links:
      </p>
    </div>
    <div class="navigation__list" aria-label="Navigation links list">
      <a href="/" class="navigation__item" aria-label="Access our home page">Home</a>
      <a href="blog" class="navigation__item" aria-label="Access our blog">Blog</a>
      <a href="work" class="navigation__item" aria-label="Access our portfolio">Work</a>
      <a href="about" class="navigation__item" aria-label="Access our about us section">About Us</a>
      <a href="mailto:ola@brasilis.club" class="navigation__item" aria-label="Get in touch through e-mail">Contact</a>
      <span class="navigation__item-arrow">-></span>
      <a href="mailto:ola@brasilis.club" class="navigation__item-mail" aria-label="Get in touch through e-mail: ola@brasilis.club">ola@brasilis.club</a>
    </div>
  </section>
</main>
{% endblock content %}
