{% extends "base.html" %}
{% block head %}
<title>Brasilis Club</title>
<meta name="description" content="Bem-vindo ao Brasilis Club — um coletivo multidisciplinar que celebra a essência da brasilidade com sofisticação e inovação." /> 
<link rel="stylesheet" href="{{ get_url(path='homepage.css', trailing_slash=false) | safe }}"  /> 
{% endblock head %}

{% block content %}
<main aria-label="Secção de Introdução">
    <section class="column-center">
        <h1 class="heading--title">Bem-vindo ao <b>Brasilis Club</b> — um coletivo multidisciplinar que celebra a essência da brasilidade com sofisticação e inovação.</h1>
        <nav aria-label="Lista de Navegação">
            <a href="/blog" class="nav--item" aria-label="Acesse o nosso blog">Blog</a>
            <a href="/portfolio" class="nav--item" aria-label="Acesse o nosso portfolio">Portfolio</a>
            <a href="mailto:ola@brasilis.club" class="nav--item" aria-label="Entre em contato via e-mail">Contato</a>
            <span class="nav--item-arrow">&rarr;</span>
            <a href="mailto:ola@brasilis.club" class="nav--item-email" aria-label="Entre em contato via e-mail: ola@brasilis.club">ola@brasilis.club</a>
        </nav>
    </section>
</main>
{% endblock content %}
