{% extends "base.html" %}
{% block head %}
<title> Brasilis Club </title>
<meta name="description" content="Brasilis Club is a brazilian research-focused multipurpose collective." /> 
<link rel="preload" href="{{ get_url(path="fonts/Garamond/AppleGaramond-Italic.woff2", trailing_slash=false) | safe }}" as="font" type="font/woff2" /> 
<link rel="stylesheet" href="{{ get_url(path='home.css', trailing_slash=false) | safe }}"  /> 
{% endblock head %}

{% block content %}
<main class="page__container" aria-label="Welcome section">
  <section class="content__container">
    <div class="heading__container">
        <h1 class="heading__title">Welcome to <span>Brasilis Club</span> — a research-focused multipurpose collective.</h1>
    </div>
    <div class="navigation__list" aria-label="Navigation links list">
      <a href="blog" class="navigation__item" aria-label="Access our blog">Blog</a>
      <a href="work" class="navigation__item" aria-label="Access our portfolio">Work</a>
      <a href="about" class="navigation__item" aria-label="Access our about us section">About Us</a>
      <a href="mailto:ola@brasilis.club" class="navigation__item" aria-label="Get in touch through e-mail">Contact</a>
      <span class="navigation__item-arrow">-></span>
      <a href="mailto:ola@brasilis.club" class="navigation__item-mail" aria-label="Get in touch through e-mail: ola@brasilis.club">ola@brasilis.club</a>
    </div>
  </section>
</main>
{% endblock content %}
