{% extends "base.html" %}
{% block head %}
<title>Brasilis Club</title>
<meta name="description" content="Bem-vindo ao Brasilis Club — um coletivo multidisciplinar que celebra a essência da brasilidade com sofisticação e inovação." /> 
<link rel="stylesheet" href="styles/index.css"  /> 
{% endblock head %}

{% block content %}
<main aria-label="Secção de Introdução">
    <section class="headline">
	{{ page.content | safe }}	
    </section>
    <footer>
	<a href="mailto:contato@brasilis.club">Entre em contato</a>
	<a href="https://discord.gg/Tgcqmw8Q">Junte-se ao nosso <i>Discord</i></a>
    </footer>
</main>
{% endblock content %}
